@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");



body{
    font-family: 'Raleway', sans-serif;
}


.search{
    position: relative;
}

.searchicone {
    position:absolute;
    top: 180px;
    color: red;
    left: 2px;
    font-size: 21px;
    width: 50px;
}

.bouttonfiltre{
    display: inline;
    border: solid 2px #e2e2e2;
    border-radius: 200px;
    font-weight: 700;
}

.filtre_icone{
    display: inline;
    border-style: hidden;
    border-radius: 100%;
    background-color: #DEEBFF;
    color: #0065FC;
}


.fa-star{
    color: blue;
}

.grey{
    color: grey;
}